<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find turtlebot3_navigation)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="/map" />
  </node>

  <!-- AMCL -->
  <include file="$(find aws_warehouse_tb3)/launch/robot1_amcl.launch">
    <arg name="initial_pose_x" value="1.0" />
    <arg name="initial_pose_y" value="0.0" />
  </include>
  <include file="$(find aws_warehouse_tb3)/launch/robot2_amcl.launch">
    <arg name="initial_pose_x" value="-1.0" />
    <arg name="initial_pose_y" value="0.0" />
  </include>
  <!-- <include file="$(find aws_warehouse_tb3)/launch/robot3_amcl.launch">
    <arg name="initial_pose_x" value="1.0" />
    <arg name="initial_pose_y" value="-1.0" />
  </include>
  <include file="$(find aws_warehouse_tb3)/launch/robot4_amcl.launch">
    <arg name="initial_pose_x" value="-1.0" />
    <arg name="initial_pose_y" value="-1.0" />
  </include> -->
  

  <!-- Move Base -->
  <include file="$(find aws_warehouse_tb3)/launch/move_base_1.launch"/>
  <include file="$(find aws_warehouse_tb3)/launch/move_base_2.launch"/>
  <!-- <include file="$(find aws_warehouse_tb3)/launch/move_base_3.launch"/>
  <include file="$(find aws_warehouse_tb3)/launch/move_base_4.launch"/> -->

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find aws_warehouse_tb3)/rviz/multi_turtlebot3_navigation_2.rviz"/>
  </group>
</launch>
